In [5]:
# import libraries

import pandas as pd
import numpy as np
#import postgresql
import getpass
#import example_psql as creds
import psycopg2
#import pandas.io.sql as psql
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
#could use a module for this 
conn = psycopg2.connect(host="d-an-test.cygqmbt4gi1l.eu-central-1.rds.amazonaws.com",
                        user="bruna_miguel",
                       password=getpass.getpass(),
                       database="postgres")

········

In [8]:
query = """
SELECT *
From fbt_conversions;
"""

table1 = pd.read_sql(query, conn)

In [9]:
table1.head()

      sk_user        purchased_at  revenue subscription_id
0  5734568301 2020-05-16 17:42:06    14.36          964462
1  5734568301 2020-05-16 17:42:06    14.36          964462
2  5734112101 2020-05-11 21:49:40    18.39          962593
3  5734112101 2020-05-11 21:49:40    18.39          962593
4    88254113 2020-11-30 11:48:19    25.60         1060301